<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Index.html" />
                <remove value="Index.htm" />
                <remove value="Index.cfm" />
                <remove value="Index.shtml" />
                <remove value="Index.shtm" />
                <remove value="Index.php3" />
                <remove value="Index.stm" />
                <remove value="Index.aspx" />
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="Index.asp" />
                <remove value="Default.aspx" />
                <remove value="Index.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="CGI-exe" />
            <add name="php-cgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration> -->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
         <handlers>
            <remove name="CGI-exe" />
            <add name="php-cgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>

